src/main/resources/allergy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Allergies">
    	<xs:complexType>
        	<xs:sequence>
            	<xs:element name="Allergy" maxOccurs="unbounded">
                	<xs:complexType>
                    	<xs:sequence>
                        	<xs:element name="id" type="xs:long"/>
                            <xs:element name="medical_record_id" type="xs:long"/>
                            <xs:element name="allergen" type="xs:string"/>
                        </xs:sequence>
                	</xs:complexType>
            	</xs:element>
        	</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>